footer{
    background-color: #464547;
    padding: 21px 140px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
}
footer div:first-child{
    display: flex;   
}
footer div:first-child img{
    max-width: 20px;
    max-height: 20px;
}
footer div:first-child h2 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 2px 0 0 16px;
}
footer div, footer div a {
    margin-top: 14px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}
footer span {
    display: flex;
    margin-top: 5px;
}
footer .address{
    grid-column-start: 3;
    grid-row-start: 1;
}
footer .website-address{
    grid-column-start: 3;
    grid-row-start: 2;
}
footer .copyright{
    grid-area: copyright;
    grid-column-start: 6;
    grid-row-start: 2;
}