@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root{
    --base-color: #FFFFFF;
}
@media (max-width: 1100px){
    .bottom-cont{
        padding: 100px 50px !important;
    }
}
@media (max-width: 768px){
    .navigation ul{
        display: none;
    }
    .navigation{
        justify-content: space-between;
        padding: 30px 50px !important;
    }
    .burger-btn{
        display: block !important;
        justify-self: right;
    }
    .burger-btn img{
        max-width: 22px;
    }
    .mid-cont{
        margin: 40px !important;
    }
    .mid-cont-text{
        grid-template-columns: 1fr !important;
    } 
    .your-headline-here h1{
        margin-top: 20px;
    }
    .bottom-cont button{
        padding: 20px 25px !important;
        font-size: 40px !important;
    }
    .bottom-cont{
        padding: 100px 20px !important;
    }
    footer{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
    }
}
@media (max-width: 500px){
    .mid-cont{
        margin: 40px 24px !important;
    }
}